---
import '../styles/global.css';
import '../styles/home.css';
import Tour from '../components/Tour.astro';

let title = 'Stack for Stack Overflow';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<Tour />
	</main>
</body>
</html>
